.navbar-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 60px;
  color: gray;
  cursor: pointer;
}

.navbar-option:hover {
  color: #333;
}

.navbar-option__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}

.navbar-option__title {
  margin-top: 2px;
  font-size: 12px;
  font-weight: 400;
}